<%= form_for [@baby, @day, @event] do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h4>New Event</h4>
<form role='form'>
  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.time_field :start_time, {ampm: true} %>  <%= f.label :end_time %>
    <%= f.time_field :end_time, {ampm: true} %> 
    <%= f.label :description %>
    <%= f.select :description, options_for_select(Event.event_types) %>
    <%= f.label :comment %>
    <%= f.text_field :comment, size: 40 %>
    <%= f.submit "Add Event" %>
  </div>
</form> 
<% end %>