<p id="notice"><%= notice %></p>
  <!-- <strong>Start time:</strong> -->
  <%= @event.start_time.strftime('%H:%M %p') %> - 

  <!-- <strong>End time:</strong> -->
  <%= @event.end_time.strftime('%H:%M %p') %> |

  <!-- <strong>Description:</strong> -->
  <%= @event.description %> |

  <!-- <strong>Comments:</strong> -->
  <%= @event.comment %>


<button><%= link_to 'Edit', edit_event_path(@event) %></button>
<button><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></button><hr>
