<h3><%= @baby.first_name %> <%= @baby.last_name %></h3>
<h5><%= @day.date.to_date.strftime("%A") %> - <%= @day.date.to_date.strftime("%B %d") %>, <%= @day.date.to_date.strftime("%Y") %> ***** Sitter: <%= @baby.nanny_name %></h5>
<hr>
<div class="bg-info">
	<h5 style="background: rgb(140,7,89);">Note:</h5>
	<p><%= @day.note %></p>
</div><br>

<div>
	<h4 class='nap-font' style="color: rgb(28,161,255); font-weight: bolder;">Naps</h4>
	<% events = @day.events.select{ |event| event.description == "Nap"} %>
	<% events.each do |event| %>
		<p><%= event.start_time.strftime('%I:%M %p') %> - <%= event.end_time.strftime('%I:%M %p') %></p>
	<% end %>
</div><br>

<div>
	<h4 class='meal-font' style="color: rgb(24,255,20); font-weight: bolder;">Meals</h4>
	<% events = @day.events.select{ |event| event.description == "Meal"} %>
	<% events.each do |event| %>
		<p><%= event.start_time.strftime('%I:%M %p') %> - <%= event.comment %></p>
	<% end %>
</div><br>

<div>
	<h4 class='diaper-font' style="color: rgb(207,28,9);
 	font-weight: bolder;">Diapers</h4>
	<% events = @day.events.select{ |event| event.description == "Diaper"} %>
	<% events.each do |event| %>
		<p><%= event.start_time.strftime('%I:%M %p') %> - <%= event.comment %></p>
	<% end %>
</div><br>

<div>
	<h4 class='activity-font' style="color: rgb(255,213,21);
 	font-weight: bolder;">Activities</h4>
	<% events = @day.events.select{ |event| event.description == "Activity"} %>
	<% events.each do |event| %>
		<p><%= event.start_time.strftime('%I:%M %p') %> - <%= event.comment %></p>
	<% end %>
</div><br>

<% events = @day.events.select{ |event| event.description == "Other"} %>
<% if events =! [] %>
<div>
	<h4 class='other-activity-font' style="color: rgb(24,255,20); font-weight: bolder;">Others</h4>
	<% events.each do |event| %>
		<p><%= event.start_time.strftime('%I:%M %p') %> - <%= event.comment %></p>
	<% end %>
<% end %>
</div><br>
