<h1>Editing day</h1>

<%= form_for @day do |f| %>
  
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class =>'form-control' %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status, :class =>'form-control' %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note, :class =>'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<button class="btn btn-success btn-xs"><%= link_to 'show', @day %></button>
<button class="btn btn-info btn-xs"><%= link_to 'back', day_path(@day) %></button>
