<!-- <button><a href="#">Add Event</a></button> -->
<h2><%= @baby.first_name %>'s day</h2>
<%= image_tag @baby.photo.url(:thumb) %> <strong><%= @day.date.to_date %></strong> ** <%= @day.title %> ** <%= @day.status %> ** Note: <%= @day.note %><hr> 
<button class='btn btn-danger float-right'><%= link_to "Delete", day_path(@day), method: :delete, data: { confirm: 'Are you sure?' } %></button>
<button class='btn btn-info float-right'><%= link_to "Edit", edit_day_path(@day) %></button>
<button class='btn btn-success float-right'><%= link_to "Back", baby_path(@baby) %></button>
<button class="btn btn-active float-right" data-toggle="modal" data-target="#summaryModal"> Summary </button><br>

<div>
	<%= render 'events/form'%>
</div>

<div class="table-responsive">
  <table class="table">
	  <thead>
	    <tr class='active'>
	      <th>Start</th>
	      <th>End</th>
	      <th>Description</th>
	      <th>Comment</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @day.events.sort_by	{ |event| event.start_time }.each do |event| %>

	      <tr class="<%= event.css_class %>" >
	      	<% if event.start_time %>
		      	<td><%= event.start_time.strftime('%I:%M %p') %></td>
					  <td><%= event.end_time.strftime('%I:%M %p') %></td>
					  <td><%= event.description %></td>
					  <td><%= event.comment %></td>
					  <td><%= link_to 'Destroy', event, :class => "float-right btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %><%= link_to 'Edit', edit_event_path(event),:class =>"float-right btn btn-info" %>
					  </td>
				  <% else %>
				  	<% notice %>
				  <% end %>
	      </tr>
	    <% end %>
	  </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Daily report</h4>
      </div>
      <div class="modal-body">
        <%= render 'summary' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"><%= link_to "Email parent", email_path(@day) %></button>
        <button type="button" class="btn btn-info"><%= link_to 'Open', summary_path(@day) %></button>
      </div>
    </div>
  </div>
</div>
