<p id="notice"><%= notice %></p>
<button><a href="#">Add Nap</a></button><hr>
<p>
  <strong>Date:</strong>
  <%= @day.date.to_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @day.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @day.status %>
</p>

<p>
  <strong>Note:</strong>
  <%= @day.note %>
</p>

<button><%= link_to 'Edit', edit_day_path(@day) %></button>
<button><%= link_to 'Back', baby_days_path(@baby) %></button>
