<button><a href="#">Add Event</a></button>
<p id="notice"><%= notice %></p>

<h2><%= @baby.first_name %> <%= @baby.last_name %>'s day</h2>
<%= image_tag @baby.photo.url(:thumb) %>
<div class="table-responsive">
  <table class="table">
  	<thead>
	    <tr class="success">
	      <th>Date</th>
	      <th>Title</th>
	      <th>Status</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	    	<td class="warning"><%= @day.date.to_date %></td>
	    	<td class="warning"><%= @day.title %></td>
	    	<td class="warning"><%= @day.status %></td>
	    </tr>
	   </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table">
	  <thead>
	    <tr class='danger'>
	      <th>Start</th>
	      <th>End</th>
	      <th>Description</th>
	      <th>Comment</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	  <tbody>
	   <% @day.events.each do |event| %>
	   	<% @event = event %>
	      <tr class="active">
	      	<td class="active"><%= @event.start_time.strftime('%H:%M') %></td>
				  <td class="success"><%= @event.end_time.strftime('%H:%M') %></td>
				  <td class="info"><%= @event.description %></td>
				  <td class="warning"><%= @event.comment %></td>
				  <td class="active"><%= link_to 'Edit', edit_event_path(@event) %> | <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
  </table>
</div>
