<h4 type="button" class="btn btn-info btn-sm"><%= link_to	"Add Baby", new_baby_path %></h4>
<h2>Little Angels</h2>

<div class="table-responsive">
  <table class="table">
  	<thead>
	    <tr class="active">
	    	<th>Image</th>
	      <th>Name</th>
	      <th>Gender</th>
	      <th>Age</th>
	      <th>Parent</th>
	      <th>Sitter</th>
	    </tr>
	  </thead>
		<% @babies.sort_by	{ |baby| baby.created_at }.reverse.each do |baby| %>
	  <tbody>
	    <tr>
				<td class="danger">
					<%= link_to baby_path(baby) do %>
	    			<%= image_tag baby.photo.url(:thumb)%>
					<% end %>
				</td>
	    	<td class="warning"><%= link_to baby.first_name, baby_path(baby) %> <%= link_to baby.last_name, baby_path(baby) %></td>
	    	<td class="success"><%= baby.gender %></td>
	    	<td class="info"><%= baby.age %></td>
	    	<td class="active"><%= baby.parent_name %></td>
	    	<td class="danger"><%= baby.nanny_name %></td>
	    </tr>
	  </tbody>
		<% end %>
  </table>
</div>