<h2>Add a new Baby</h2>
<ul>
	<% @baby.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>

<%= form_for @baby do |f| %>
	<%= f.label :first_name %><br>
	<%= f.text_field :first_name %>
	<br>

	<%= f.label :last_name %><br>
	<%= f.text_field :last_name %>
	<br>

	<%= f.label :gender %><br>
	<%= f.text_field :gender %>
	<br>

	<%= f.label :age %><br>
	<%= f.text_field :age %>
	<br>

	<%= f.label :parent_name %><br>
	<%= f.text_field :parent_name %>
	<br>

	<%= f.label :parent_email %><br>
	<%= f.email_field :parent_email %>
	<br>

	<%= f.label :nanny_name %><br>
	<%= f.text_field :nanny_name %>
	<br>

	<%= f.label :nanny_email %><br>
	<%= f.email_field :nanny_email %>
	<br>

	<%= f.label :special_condition %><br>
	<%= f.text_field :special_condition %>
	<br>

	<%= f.label :photo %><br>
	<%= f.file_field :photo %><br>
	
	<%= f.submit "Add Baby" %>
<% end %>