
<li><%= link_to('New Day', new_baby_day_path(@baby))%></li>

<ul>
	<h2><%= @baby.first_name %></h2>
	<h4><%= @baby.last_name %></h4> 
	<%= image_tag @baby.photo.url(:thumb) %>
	<br>
	Age: <%= @baby.age %> 
	Gender: <%= @baby.gender %><br>
	Special note: <%= @baby.special_condition %><br>
	Parent: <%= @baby.parent_name %> <br>
	Parent email: <%= @baby.parent_email %><br>	
</ul>
<!-- <div class="list-group">
  <p class="list-group-item active">
    Days  </p>
  <% @baby.days.each do |day| %>
  	<a href="#" class="list-group-item"><%= day.date.to_date %> <%= day.title %></a>
  <% end %>
</div> -->

<table class='table'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Status</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baby.days.each do |day| %>
      <tr>
        <td><%= link_to day.date.to_date, day_path(day) %></td>
        <td><%= link_to day.title, day_path(day) %></td>
        <td><%= day.status %></td>
        <td><%= day.note %></td>
        <td><%= link_to 'Show', day_path(day) %></td>
        <td><%= link_to 'Edit', edit_day_path(day) %></td>
        <td><%= link_to 'Delete', day_path(day), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
