<h2><%= @baby.first_name %>  <%= @baby.last_name %> </h2>
<%= image_tag @baby.photo.url(:thumb) %> <%= @baby.gender %>| Age: <%= @baby.age %> | <%= @baby.special_condition %> | Parent: <%= @baby.parent_name %>, <%= @baby.parent_email %>
<button class='btn btn-danger float-right'>
  <%= link_to 'Delete', baby_path(@baby), method: :delete, data: { confirm: 'Are you sure?' } %>
</button>
<button class='btn btn-info float-right'>
  <%= link_to('Update', edit_baby_path(@baby))%>
</button>
<button class='btn btn-success float-right'>
  <%= link_to "Back", babies_path(@user) %>
</button>
<hr>
<!-- <div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="active">
        <th>Gender</th>
        <th>Age</th>
        <th>Parent</th>
        <th>Parent Email</th>
        <th>Sitter</th>
        <th>Sitter Email</th>
        <th>Special Note</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="active"><%= @baby.gender %></td>
        <td class="success"><%= @baby.age %></td>
        <td class="info"><%= @baby.parent_name %></td>
        <td class="active"><%= @baby.parent_email %></td>
        <td class="danger"><%= @baby.nanny_name %></td>
        <td class="success"><%= @baby.nanny_email %></td>
        <td class="active"><%= @baby.special_condition %></td>
      </tr>
    </tbody>
  </table>
</div>
<hr> -->
<!-- <h4><%= @baby.first_name %>'s days</h4> -->
<button class="btn btn-info" data-toggle="modal" data-target="#newDayModal"> Add Day </button> 
<!-- <button class="last-month btn btn-info"> Search a month </button>
<button class="search-day btn btn-info"> Search a day </button> -->

<hr>

<div class='all-days'>
  <table class='table'>
    <thead>
      <tr class='active'>
        <th>Date</th>
        <th>Title</th>
        <th>Status</th>
        <th>Note</th>
        <th class="col-md-3 col-md-offset-3">Action</th>
      </tr>
    </thead>
    
    <tbody>
       <% @days.each do |day| %>
        <tr>
          <td class='active'><%= link_to day.date.to_date.strftime("%a %b %d %y"), day_path(day) %></td>
          <td class='success'><%= link_to day.title, day_path(day) %></td>
          <td class='info'><%= day.status %></td>
          <td class='danger'><%= day.note %></td>
          <td class='active'> 
            <%= link_to 'Delete', day_path(day),:class =>"float-right btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit', edit_day_path(day),:class =>"float-right btn btn-info" %>
            <%= link_to 'Show', day_path(day),:class =>"float-right btn btn-success" %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- New form Modals -->
<div class="modal fade" id="newDayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Day</h4>
      </div>
      <div class="modal-body">
        <%= render 'days/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
